<?xml version="1.0"?>
<launch>
    <arg name="rvizconfig" default="$(find ompl_planner)/rviz/ompl.rviz" />
    
    
    <!-- map_server -->
    <node pkg="map_server" name="map_server" type="map_server" output="screen" args="$(find ompl_planner)/maps/ambaMap.yaml"/>
    <!-- RViz -->
    <node pkg="rviz" name="rviz" type="rviz" output="screen" args="-d $(arg rvizconfig)"/>
    <!-- ompl-based motion planning node -->
    <node pkg="ompl_planner" name="ompl_planner_node" type="ompl_planner_node" output="screen"/>
</launch>
